<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Gestiona tus libros</h1>
    <p class="lead font-weight-normal">Aqui puedes tener tu biblioteca de libros a la mano</p>
    <a class="btn btn-outline-secondary" routerLink="/register">Registrate</a>    
  </div>
</div>