<div class="row">
    <div class="col-m-3" *ngFor="let book of books">
        <div class="card" style="width: 18rem;">
            <a   
            mat-raised-button
            matTooltip="{{ book.Description }}"
            routerLink="/book/{{ book.ID }}"
            >  
                <img class="card-img-top" 
                src="{{ book.urlImg}}" >
            </a>
            <h5>{{ book.Title }}</h5> 
            <h6></h6>         
        </div>
    </div>
</div>
