
  <div class="container">  
       <div id="login-row" class="row justify-content-center align-items-center">     
            <div id="login-column" class="col-md-12">         
                 <div class="login-box col-md-12"> 
                    <div class="card">
                        <div class="card-body">     
                          
                          <div class="alert alert-danger" role="alert" *ngIf="mensajeError">
                              Registro fallido intente de nuevo
                            </div>  
                            <div class="alert alert-success" role="alert" *ngIf="mensajeExito">
                              Registro exitoso
                            </div>                               
                           <form id="crete-form" class="form" [formGroup]="createForm">
                              <h3 class="text-center text-danger">Crear Libro</h3>
                              <div class="form-group">
                                  <label for="title" class="text-danger">Titulo:</label>
                                  <br>
                                  <input formControlName="title" type="text" name="title" id="title" class="form-control" required>
                                  <div *ngIf="createForm.get('title').touched && createForm.get('title').hasError('required')" class="alert alert-danger">
                                    El titulo es requerido
                                  </div>  
                              </div>
                              <div class="form-group">
                                  <label for="publishDate" class="text-danger">Fecha:</label>
                                  <br>
                                  <input formControlName="publishDate" type="publishDate" name="publishDate" id="publishDate" class="form-control" required>
                                  <div *ngIf="createForm.get('publishDate').touched && createForm.get('publishDate').hasError('required')" class="alert alert-danger">
                                    El fecha  es requerida
                                  </div>                                 
                              </div>
                              <div class="form-group">
                                <label for="pageCount" class="text-danger">N° de paginas:</label>
                                <br>
                                <input formControlName="pageCount" type="pageCount" name="pageCount" id="pageCount" class="form-control" required>
                                <div *ngIf="createForm.get('pageCount').touched && createForm.get('pageCount').hasError('required')" class="alert alert-danger">
                                  El fecha  es requerida
                                </div>                                 
                            </div>
                            <div class="form-group">
                              <label for="description" class="text-danger">Descripcion:</label>
                              <br>
                              <input formControlName="description" type="description" name="description" id="description" class="form-control" required>
                              <div *ngIf="createForm.get('description').touched && createForm.get('description').hasError('required')" class="alert alert-danger">
                                El fecha  es requerida
                              </div>                                 
                          </div>
                          <div class="form-group">
                            <label for="excerpt" class="text-danger">Extracto:</label>
                            <br>
                            <input formControlName="excerpt" type="excerpt" name="excerpt" id="excerpt" class="form-control" required>
                            <div *ngIf="createForm.get('excerpt').touched && createForm.get('excerpt').hasError('required')" class="alert alert-danger">
                              El fecha  es requerida
                            </div>                                 
                        </div>
                              <div class="form-group">
                                   <button  (click)="register()"
                                   type="button" class="form-control btn btn-danger">
                                      Aceptar
                                  </button> 
                               </div>
                              </form>
                           </div>   
                      </div>     
              </div>  
          </div>  
      </div>  

