<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" *ngIf="logeado">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard">
              Dashboard 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user">
              Perfil de usuario
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/books">
              Libros de usuario
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/book">
               Libros
            </a>
          </li>  
          <li class="nav-item">
              <a class="nav-link" (click)="cerrarSession()" href="/login">
                 Cerrar Sesion
              </a>
          </li>              
        </ul>
      </div>
    </nav>
    <main role="main" class="" [className]="logeado ? 'col-md-9 ml-sm-auto col-lg-10 pt-3 px-4' : 'col-md-12 ml-sm-auto col-lg-12 pt-3 px-4'">      
      <router-outlet></router-outlet>
    </main>
  </div>
</div>