<div id="login">   
  <div class="container">  
       <div id="login-row" class="row justify-content-center align-items-center">     
            <div id="login-column" class="col-md-6">         
                 <div class="login-box col-md-12"> 
                    <div class="card">
                        <div class="card-body">                             
                           <form id="login-form" class="form" [formGroup]="createUserForm">
                            <div class="alert alert-danger" role="alert" *ngIf="mensajeError">
                              Error al registrarce intente nuevamente
                            </div>  
                            <div class="alert alert-success" role="alert" *ngIf="mensajeExitoso">
                              Registro completado ya puedo iniciar session en el siguiente link
                              <a routerLink="/login" class="text-danger">Login</a>
                            </div> 
                              <h3 class="text-center text-danger">Registrar usuario</h3> 
                              <div class="form-group">
                                <label for="username" class="text-danger">Nombres:</label>                                
                                <br>
                                <input formControlName="names" type="text" name="names" id="names" class="form-control" required>
                                <div *ngIf="createUserForm.get('names').touched && createUserForm.get('names').hasError('required')" class="alert alert-danger">
                                  Nombres requeridos
                                </div>  
                              </div>
                              <div class="form-group">
                                <label for="username" class="text-danger">Username:</label>
                                <br>
                                <input formControlName="email" type="email" name="email" id="email" class="form-control" required>
                                <div *ngIf="createUserForm.get('email').touched && createUserForm.get('email').hasError('required')" class="alert alert-danger">
                                  El username es requerido
                                </div>  
                                <div *ngIf="createUserForm.get('email').touched && createUserForm.get('email').hasError('email')" class="alert alert-danger">
                                    El username no valido
                                </div>  
                              </div>  
                              <div class="form-group">
                                <label for="username" class="text-danger">Confirmar username:</label>
                                <br>
                                <input formControlName="confirmEmail" type="email" name="confirmEmail" id="confirmEmail" class="form-control" required>
                                <div *ngIf="createUserForm.get('confirmEmail').touched && createUserForm.get('confirmEmail').hasError('required')" class="alert alert-danger">
                                  El confirmar username es requerido
                                </div>  
                                <div *ngIf="createUserForm.get('confirmEmail').touched && createUserForm.get('confirmEmail').hasError('email')" class="alert alert-danger">
                                    confirmar username no valido
                                </div>  
                                <div *ngIf="createUserForm.get('confirmEmail').touched && createUserForm.get('confirmEmail').hasError('compare')" class="alert alert-danger">
                                        El confirmar username debe ser igual al username
                                    </div>  
                              </div>  
                              <div class="form-group">
                                <label for="password" class="text-danger">Password:</label>
                                <br>
                                <input formControlName="password" type="password" name="password" id="password" class="form-control" required>
                                <div *ngIf="createUserForm.get('password').touched && createUserForm.get('password').hasError('required')" class="alert alert-danger">
                                  El password es requerido
                                </div>  
                                <div *ngIf="createUserForm.get('password').touched && createUserForm.get('password').hasError('minlength')" class="alert alert-danger">
                                    El password debe tener al menos 8 caracteres
                                </div>                                 
                              </div>
                              <div class="form-group">
                                <label for="password" class="text-danger">Confirmar Password:</label>
                                <br>
                                <input formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" class="form-control" required>
                                <div *ngIf="createUserForm.get('confirmPassword').touched && createUserForm.get('confirmPassword').hasError('required')" class="alert alert-danger">
                                  El confirmar password es requerido
                                </div>   
                                <div *ngIf="createUserForm.get('confirmPassword').touched && createUserForm.get('confirmPassword').hasError('minlength')" class="alert alert-danger">
                                    El confirmar password debe tener al menos 8 caracteres
                                </div>
                                <div *ngIf="createUserForm.get('confirmPassword').touched && createUserForm.get('confirmPassword').hasError('compare')" class="alert alert-danger">
                                    El confirmar password debe ser igual al password
                                </div>                              
                              </div>                
                              <div class="form-group">
                                   <button  (click)="register()"
                                   type="button" class="form-control btn btn-danger">
                                      Aceptar
                                  </button>  
                                  <div id="register-link" class="text-right">
                                      <a routerLink="/login" class="text-danger">Login</a>
                                  </div>
                               </div>
                              </form>
                           </div>   
                      </div>     
              </div>  
          </div>  
      </div>  
   </div>

