<div id="login">   
    <div class="container">  
         <div id="login-row" class="row justify-content-center align-items-center">     
              <div id="login-column" class="col-md-6">         
                   <div class="login-box col-md-12"> 
                      <div class="card">
                          <div class="card-body">     
                            
                            <div class="alert alert-danger" role="alert" *ngIf="mensajeError">
                                Usuario o contraseña invalidos
                              </div>                        
                             <form id="login-form" class="form" [formGroup]="loginForm">
                                <h3 class="text-center text-danger">Login</h3>
                                <div class="form-group">
                                    <label for="username" class="text-danger">Nombres:</label>                                
                                    <br>
                                    <input formControlName="names" type="text" name="names" id="names" class="form-control" required>
                                    <div *ngIf="loginForm.get('names').touched && loginForm.get('names').hasError('required')" class="alert alert-danger">
                                      Nombres requeridos
                                    </div>  
                                  </div>
                                <div class="form-group">
                                    <label for="username" class="text-danger">Username:</label>
                                    <br>
                                    <input formControlName="username" type="email" name="username" id="username" class="form-control" required>
                                    <div *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')" class="alert alert-danger">
                                      El username es requerido
                                    </div>  
                                    <div *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('email')" class="alert alert-danger">
                                        El username no valido
                                    </div>  
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-danger">Password:</label>
                                    <br>
                                    <input formControlName="password" type="password" name="password" id="password" class="form-control" required>
                                    <div *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')" class="alert alert-danger">
                                      El password es requerido
                                    </div>  
                                    <div *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('minlength')" class="alert alert-danger">
                                        El password debe tener al menos 8 caracteres
                                    </div>                                 
                                </div>
                                <div class="form-group">
                                     <button  (click)="login()"
                                     type="button" class="form-control btn btn-danger">
                                        Aceptar
                                    </button>  
                                    <div id="register-link" class="text-right">
                                            <a routerLink="/register" class="text-danger">Register</a>
                                    </div>
                                 </div>
                                </form>
                             </div>   
                        </div>     
                </div>  
            </div>  
        </div>  
     </div>
