<div class="row">
    <div class="col-m-3" *ngFor="let book of books">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ book.urlImg}}" alt="Card image cap"
            mat-raised-button
            matTooltip="{{ book.Description }}"
            aria-label="displays a tooltip"
            routerLink="/book/{{ book.ID }}"
            >
            <h3>{{ book.Title }}</h3>
          </div>
    </div>
</div>