<div class="container">
  <div class="row profile">
      <div class="col-md-12">
          <div class="profile-sidebar">
              <div class="profile-usertitle">
                  <h1>Tu información</h1>
                  <div class="profile-usertitle-name">
                    {{ user.name }}
                  </div>
                  <div class="profile-usertitle-job">
                    {{  user.email }}
                  </div>                
              </div>              
          </div>
      </div>  
  </div>
</div>
