<nav class="navbar navbar-expand-lg navbar-light bg-danger mynan">
  <a class="navbar-brand" routerLink="/">granada</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="logeado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
          <div class="row">
              <div class="col-md-2 titulo">
                  Título             
              </div>
              <div class="col-md-10">
                  <div class="input-group md-form form-sm form-2 pl-0">
                      <input class="form-control my-0 py-1 lime-border buscar text" type="text">
                      <div class="input-group-append">
                        <span class="input-group-text lime lighten-2 buscar" id="basic-text1">
                          <i class="far fa-search "
                            aria-hidden="true"></i>
                          </span>
                      </div>
                    </div> 
              </div>
          </div>
      </li>      
    </ul>
    <form class="form-inline my-2 my-lg-0">      
      <a class="btn btn-outline-danger my-2 my-sm-0 nuevo" routerLink="/book/create">Crear nuevo</a>
    </form>
  </div>
</nav>