.mr-auto{
  margin-left: auto;
}
.titulo{
    padding: 10px;
}

.nuevo{
    border-radius: 50px;
    width: 150px;
    border-color: gray;
}

.buscar{
    border-radius: 50px;
}

.input-group-text{
    background: #ffffff;
}
.text{
    border-right: 0;
}
.mynan, .mynan a, .mynan button{
    color: #ffffff;
}