@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
#login {
    padding: 50px;
}
.card{
    text-align: center;
}
.container-book img{
    text-align: center;
}
.mi-image-book{
    width: 200px;
}
.container-book .row.p{
    margin: 50px;
    margin-left: 40%;

}
h1 , h2, h3, h4, h5, h6, a{
    color: #dc3545 ;
}

.navbar-brand{
    color: #ffffff;
}