<div class="container-fluid container-book">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger mynan">
            <a class="navbar-brand" >{{ book.Title }}, {{ book.PublishDate }}</a>   
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                      <div class="row">
                          <div class="col-md-2 titulo">
                                         
                          </div>
                          <div class="col-md-10">
                             
                          </div>
                      </div>
                  </li>      
                </ul>
                <form class="form-inline my-2 my-lg-0">      
                  <a class="btn btn-outline-danger my-2 my-sm-0 nuevo" routerLink="/user/books/{{ book.ID }}/edit">Editar Libro</a>
                </form>
              </div>
        </nav>

        <div class="row p">
            <div class="col-md-12">
            <img class="card-img-top mi-image-book" 
            src="{{ book.urlImg}}" >
            </div>
            <div class="col-md-12">
                <h6>Tilulo</h6>
                 {{ book.Title}}
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-6">
                        <h6>Fecha</h6>
                         {{ book.PublishDate }}
                    </div>
                    <div class="col-xs-6">
                        <h6>N° Paginas</h6>
                         {{ book.PageCount }}
                     </div>           
                </div>
            </div>
            <div class="col-md-12">
                <h6>Exctrato</h6>
                {{ book.Excerpt }}
            </div>
        </div>
</div>
